<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANIDASH || ADMIN</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
    

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">Admin Panel</span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/admin">Startseite</a>
        <a class="mdl-navigation__link" href="/admin/addanime">Add Animes</a>
        <a class="mdl-navigation__link" href="/admin/animes">Animes</a>
        <a class="mdl-navigation__link" href="/admin/users">Useres</a>
        <a class="mdl-navigation__link" href="/" style="background-color: red; color: black;">Logout</a>
      </nav>
    </div>
    <main class="mdl-layout__content">
      <div class="page-content">

        

      </div>
    </main>
  </div>



</body>
</html>